In [34]:
import pandas as pd
import numpy as np

In [85]:
pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)
data_folder = 'data/'

height has been deprecated.

# Things from Excel that I want to be able to do quickly
* Sort
* Merge tables based on an index: https://stackoverflow.com/questions/22676081/pandas-the-difference-between-join-and-merge
* See unique values in a data set
* Drop/add columns based on formulas
* Rename columns / re-order tables
* Manipulate text strings
* Index match
* Sumif (s)
* Countif (s)
* Map & replace with values from another source
* Reformat datatype
* Pivot tables: http://pbpython.com/pandas-pivot-table-explained.html

# Helpful list of things to do
* Preprocessing data, exploratory work, feature identification: https://github.com/ShuaiW/ml-cheatsheet
* sklearn examples: https://www.datacamp.com/community/blog/scikit-learn-cheat-sheet

# Loading data
1. Load
2. Visualize data, check types
3. Merge data
4. Drop irrelevant columns
5. Split out relevant columns (dictionaries, etc)
6. Add relevant summary columns

In [84]:
ls data/

calendar.csv        get_data.sh*        listings.csv        neighbourhoods.csv  reviews.csv

In [127]:
listings = pd.read_csv(data_folder + 'listings.csv')
reviews = pd.read_csv(data_folder + 'reviews.csv')
calendar = pd.read_csv(data_folder + 'calendar.csv')
neighborhoods = pd.read_csv(data_folder + 'neighbourhoods.csv')

In [ ]:
# Check the dypes of the headers
listings.dtypes

In [140]:
listings3 = listings.rename(columns={'license':'LICENSE','id':'ID'})

In [138]:
listings2 = listings.drop(['xl_picture_url', 'host_thumbnail_url'], axis=1)

# Get unique values in a colummn
listings2['experiences_offered'].unique()

array(['none'], dtype=object)

In [ ]:
df = gen_age_tr.merge(ev, how='left', on='device_id')
df = df.merge(ph_br_dev_model, how='left', on='device_id')

# Apply, applymap, and map

In [143]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -1.218925 -1.669478 -0.051027
Ohio   -0.128275 -0.101781  1.096763
Texas  -0.823568 -1.738171  0.160202
Oregon -0.771373  1.342753  1.058894

In [144]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.090650
d    3.080924
e    1.147790
dtype: float64

In [145]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah    -1.22  -1.67  -0.05
Ohio    -0.13  -0.10   1.10
Texas   -0.82  -1.74   0.16
Oregon  -0.77   1.34   1.06

In [146]:
frame['e'].map(format)

Utah      -0.05
Ohio       1.10
Texas      0.16
Oregon     1.06
Name: e, dtype: object

# Replace value in a column with formula

In [ ]:
top_10_brands_en = {'华为':'Huawei', '小米':'Xiaomi', '三星':'Samsung', 'vivo':'vivo', 'OPPO':'OPPO', 
                    '魅族':'Meizu', '酷派':'Coolpad', '乐视':'LeEco', '联想':'Lenovo', 'HTC':'HTC'}

df['phone_brand_en'] = df['phone_brand'].apply(lambda phone_brand: top_10_brands_en[phone_brand] if (phone_brand in top_10_brands_en) else 'Other')

In [ ]:
def get_age_segment(age):
    if age <= 22:
        return '22-'
    elif age <= 26:
        return '23-26'
    elif age <= 28:
        return '27-28'
    elif age <= 32:
        return '29-32'
    elif age <= 38:
        return '33-38'
    else:
        return '39+'

df['age_segment'] = df['age'].apply(lambda age: get_age_segment(age))

# Sumifs

```
DATE     | EMPLOYEE     | PROJECT | HOURS
02/01/14 | Smith, John  | A001    | 4.0
02/01/14 | Smith, John  | B002    | 4.0
02/01/14 | Doe, Jane    | A001    | 3.0
02/01/14 | Doe, Jane    | C003    | 5.0
02/02/14 | Smith, John  | B002    | 2.0
02/02/14 | Smith, John  | C003    | 6.0
02/02/14 | Doe, Jane    | A001    | 8.0
```

In [ ]:
# To get new table with sum by all projects
df.groupby("PROJECT")["HOURS"].sum()

# To get total for just one project
df.query("PROJECT == 'A001'")["HOURS"].sum()

# If you wanted to count, you could just use .count()

In [96]:
# query examples; these two are equivalent
df.query('a > b')
df[df.a > df.b]

Object `pandas` not found.

```
df
     A    B    C    D     E
0  mitfx  0  200  300  0.25
1     gs  1  150  320  0.35
2    duk  1    5    2  0.45
3    bmo  1  145   65  0.65 
```

In [ ]:
df_subset = df[(df.B == 1) & (df.D > 5)]
df_subset.apply(lambda x: x.C * x.E, axis=1).sum()
# or
print sum(df_subset.C * df_subset.E)

In [97]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}

# df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df = pd.DataFrame(raw_data)
df = df.set_index('name')
df

                  age favorite_color  grade
name
Willard Morris     20           blue     88
Al Jennings        19            red     92
Omar Mullins       22         yellow     95
Spencer McDaniel   21          green     70

In [98]:
# Pivot tables

df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  2
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [118]:
df.groupby(['A'])['C'].count()

A
bar    4
foo    5
Name: C, dtype: int64

In [73]:
# pd.pivot_table(df, index=['B','A'],aggfunc=np.sum)
pd.pivot(df, columns=['C'], index=['B','A'])

TypeError: pivot_simple() got multiple values for argument 'index'

Order of operations for working with new data-set:
1. Import data
2. Quick check data

In [36]:
ls data-genomics/

genes.csv*                    gtex_gene_expression.csv*     source.txt                    toxicogenomics_chemicals.csv*

Another convenient operation is map on a series, which performs the operation specified on every element of a column. It's as if you wrote a for-loop to access every item of the GENDER column, and use that item to access the gender dictionary, and replace the value.

In [39]:
gender = {1: 'fillmein',
          2: 'fillmein2'}
subject_phenotypes.GENDER.map(gender)

'fillmein'

In [ ]:
# Code to create a new column called "gender" in `subject_phenotypes` that is the result of using `map` 
# with the `gender` dictionary on the "GENDER" column of `subject_phenotypes`.

In [42]:
s = 'you have as many hours in a day as beyonce'
s.split()
# s.split('d')

['you', 'have', 'as', 'many', 'hours', 'in', 'a', 'day', 'as', 'beyonce']

We can use what we just learned about manipulating strings, on columns of dataframe using `lambda`, which allows us to create small functions. For example, if we wanted to take column `'SUBJID'` from the dataframe `subject_phenotypes`, split every item on the dash character `'-'`, and get the first item, we would do this:

In [ ]:
subject_phenotypes['SUBJID'].map(lambda x: x.split('-')[0])

The above code produces the error,

    <ipython-input-157-6714d86271d7> in <lambda>(x)
    ----> 1 sample_attributes['Tissue Type, more specific detail of tissue type'].map(lambda x: x.split('-')[0])

    AttributeError: 'float' object has no attribute 'split'
    
Which happens because instead of a nice string, there is a `float` there, and `float`s don't know how to be `split`. Why is that? Well, NAs are of type `float`, so this indicates that there's an NA there.

To deal with this, we can add an `if` statement to our `lambda` to make it deal with these situations. We will use the function `isinstance` to check if `x` is a string (the special word for a string in Python is `str`), and replace it with an NA using the `numpy` library (which we imported as `np` for shorthand) `np.nan`.

In [43]:
sample_attributes['Tissue Type, more specific detail of tissue type'].map(lambda x: x.split('-')[0] if isinstance(x, str) else np.nan)

NameError: name 'sample_attributes' is not defined

Need to look up join

Merge:

We want to merge these two dataframes on their common column, which is "vegetable" in dataframe1 and crop in dataframe2. We can do this using merge, and specifying what we want to merge the left and right dataframes on.

In [47]:
dataframe1 = pd.DataFrame([['cucumber', 'watery'], ['broccoli', 'crunchy'], ['kale', 'chewy'], 
                           ['mango', 'sweet'] ], columns=['vegetable', 'description'])

dataframe2 = pd.DataFrame([['broccoli', 'harvested', 8], ['broccoli', 'planted', 5],
                           ['kale', 'planted', 6], ['kale', 'harvested', 9],
                           ['cucumber', 'harvested', 7], ['cucumber', 'planted', 4],
                           ['strawberry', 'planted', 10], ['strawberry', 'harvested', 2]], 
                          columns=['crop', 'action', 'number'])

In [48]:
dataframe1

  vegetable description
0  cucumber      watery
1  broccoli     crunchy
2      kale       chewy
3     mango       sweet

In [49]:
dataframe2

         crop     action  number
0    broccoli  harvested       8
1    broccoli    planted       5
2        kale    planted       6
3        kale  harvested       9
4    cucumber  harvested       7
5    cucumber    planted       4
6  strawberry    planted      10
7  strawberry  harvested       2

We want to `merge` these two dataframes on their common column, which is `"vegetable"` in `dataframe1` and `crop` in `dataframe2`. We can do this using `merge`, and specifying what we want to merge the **left** and **right**  dataframes **on**.

In [54]:
dataframe1.merge(dataframe2, left_on='vegetable', right_on='crop').drop(['crop'],axis=1)

  vegetable description     action  number
0  cucumber      watery  harvested       7
1  cucumber      watery    planted       4
2  broccoli     crunchy  harvested       8
3  broccoli     crunchy    planted       5
4      kale       chewy    planted       6
5      kale       chewy  harvested       9

In [10]:
pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)
data_folder = 'data-genomics/'

genes = pd.read_csv(data_folder + 'genes.csv')
organs = pd.read_csv(data_folder + 'Organ_gene_relation.csv')
disease = pd.read_csv(data_folder + 'selected_gene_disease.csv')
express = pd.read_csv(data_folder + 'gtex_gene_expression.csv')
tox = pd.read_csv(data_folder + 'toxicogenomics_chemicals.csv')

height has been deprecated.

What need to happen:
1. Checklist for cleaning data
2. How to quickly screen for interesting things
3. Plan for working through data

In [27]:
genes.head(10)

Index(['ensembl_id', 'entrez_id', 'hgnc_symbol', 'hgnc_name',
       'cytogenetic_location', 'uni_protein_id', 'gene_biotype'],
      dtype='object')

In [26]:
express.head(10)
list(np.sort(express['gene_type'].unique()))

['3prime_overlapping_ncrna',
 'IG_C_gene',
 'IG_C_pseudogene',
 'IG_D_gene',
 'IG_J_gene',
 'IG_J_pseudogene',
 'IG_V_gene',
 'IG_V_pseudogene',
 'Mt_rRNA',
 'Mt_tRNA',
 'TEC',
 'TR_C_gene',
 'TR_D_gene',
 'TR_J_gene',
 'TR_J_pseudogene',
 'TR_V_gene',
 'TR_V_pseudogene',
 'antisense',
 'bidirectional_promoter_lncrna',
 'lincRNA',
 'miRNA',
 'misc_RNA',
 'polymorphic_pseudogene',
 'processed_pseudogene',
 'processed_transcript',
 'protein_coding',
 'rRNA',
 'ribozyme',
 'scaRNA',
 'sense_intronic',
 'sense_overlapping',
 'snRNA',
 'snoRNA',
 'transcribed_processed_pseudogene',
 'transcribed_unitary_pseudogene',
 'transcribed_unprocessed_pseudogene',
 'translated_unprocessed_pseudogene',
 'unitary_pseudogene',
 'unprocessed_pseudogene',
 'vaultRNA']

In [14]:
# genes.shape
# express.shape
tox.shape

(55374, 6)

In [32]:
genes.columns
express.columns
# tox.columns
express.head(10)

,chromosome,chromosome_start,chromosome_end,gene_symbol,score,strand_type,gene_id,gene_type,rpkm_expressions
0,chr1,11868,13052,DDX11L1,15,+,ENSG00000223972,transcribed_unprocessed_pseudogene,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
1,chr1,14969,29806,WASH7P,427,-,ENSG00000227232,unprocessed_pseudogene,"6.886,6.083,4.729,5.91,6.371,6.007,8.768,4.202..."
2,chr1,29553,31109,RP11-34P13.3,63,+,ENSG00000243485,lincRNA,"0,0,0,0,0,0,0,0.041,0.056,0.094,0.054,0.051,0...."
3,chr1,34553,36081,FAM138A,0,-,ENSG00000237613,lincRNA,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
4,chr1,52472,54936,OR4G4P,0,+,ENSG00000268020,unprocessed_pseudogene,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
5,chr1,62947,63887,OR4G11P,0,+,ENSG00000240361,unprocessed_pseudogene,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
6,chr1,69090,70008,OR4F5,0,+,ENSG00000186092,protein_coding,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
7,chr1,92090,133566,RP11-34P13.7,140,-,ENSG00000238009,lincRNA,"0.14,0.114,0.074,0.08,0.088,0.081,0.076,0.056,..."
8,chr1,131024,134836,CICP27,54,+,ENSG00000233750,processed_pseudogene,"0,0.013,0.005,0.002,0.003,0,0.01,0,0,0.004,0.0..."
9,chr1,135140,135895,RP11-34P13.15,390,-,ENSG00000268903,processed_pseudogene,"1.457,2.53,1.82,1.264,1.301,0.49,1.13,1.181,0...."

Notes:
* HUGO Gene Nomenclature Committee. HGNC is responsible for approving unique symbols and names for human loci, including protein coding genes, ncRNA genes and pseudogenes, to allow unambiguous scientific communication. (https://www.genenames.org/)